/*-------------------------------------------------*/
/* ДЛЯ ВСЕГО ДОКУМЕНТА                             */
/*-------------------------------------------------*/

/*Шрифт:*/
/*400 - Regular*/
/*500 - Medium*/
/*700 - Bold*/

/*-----------------------------------------*/
/* специальный класс для скрытия элементов */
/*-----------------------------------------*/
.visually-hidden {
    /* Удаляем элемент из потока документа */
    position: absolute;
    /* Временное решение для неверно произносимого, размазанного текста */
    white-space: nowrap;
    /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
    width: 1px;
    height: 1px;
    /* Скрываем вылезающий за границы контент */
    overflow: hidden;
    /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
    border: 0;
    padding: 0;
    /* Вырезаем ту часть контента, которая должна отображаться. */
    /* Устаревшее свойство clip для старых браузеров */
    clip: rect(0 0 0 0);
    /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
    clip-path: inset(50%);
    /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
    margin: -1px;
}
/*--------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    /* самый часто встречающийся шрифт пишем в body*/
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
    /*text-transform: uppercase;*/

    background: #ffffff;
    /*background-image:  url("../img/bg.jpg");*/
    /*background-position: top center;*/
    /*background-repeat: no-repeat;*/
}

a {
    text-decoration: none; /*ссылка - без подчеркивания*/
}

.button {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: black; /*#fb565a;*/
    border: none;

    padding: 16px 40px;
    border-radius: 3px;
}

.button-features {
    display: block; /* иначе не воспринимает размеры */
    box-sizing: border-box;
    width: 240px;
    height: 50px;
    margin-top: 39px;
    background-color: #fb565a;
}

.button-features:hover,
.button-features:focus {
    background-color: #e74246;
}

.button-features:active {
    background-color: #d7373b;
    color: #e37376;
}


.button-first {
    display: block; /* иначе не воспринимает размеры */
    box-sizing: border-box;
    width: 160px;
    height: 50px;
    margin-top: 32px;
    background-color: #fb565a;
}

.button-first:hover,
.button-first:focus {
    background-color: #e74246;
}

.button-first:active {
    background-color: #d7373b;
    color: #e37376;
}

/*--------------------------------------------*/

.button-second {
    background-color: #00ca74;
    display: block; /* иначе не воспринимает размеры */
    box-sizing: border-box;
    width: 160px;
    height: 50px;
    margin-top: 32px;
}

.button-second:hover,
.button-second:focus {
    background-color: #00bc6c;
}

.button-second:active {
    background-color: #00aa62;
    color: #4dc491;
}

/*--------------------------------------------*/

.button-third {
    background-color: #efc849;
    display: block; /* иначе не воспринимает размеры */
    box-sizing: border-box;
    width: 160px;
    height: 50px;
    margin-top: 32px;
}

.button-third:hover,
.button-third:focus {
    background-color: #eab534;
}

.button-third:active {
    background-color: #e5a722;
    color: #edc265;
}

.centraler { /*доп.контейнер для центрирования ("центровщик")*/
    position: relative;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

li {
    list-style: none; /*убрали маркер у списка (точечку)*/
}


/*-------------------------------------------------*/
/* HEADER                                          */
/*-------------------------------------------------*/

.first-header {
    padding-top: 40px;
    min-width: 1180px;
    background-color: #eeeeee;
    /*border: 1px solid brown;*/
}

.first-header-navigation {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    /*border: 1px solid brown;*/
}

.first-header-navigation-wrapper {
    display: flex;
}

.site-navigation,
.purchase-navigation {
    list-style: none; /*убрали маркер у списка (точечку)*/
    display: flex;
    flex-wrap: wrap;
}

.site-navigation {
    width: 550px;
    padding-top: 10px;
    margin-left: 202px;
    /*border: 1px solid brown;*/
}

.site-navigation li {
    margin-right: 46px;
    margin-top: 16px;
    /*border: 1px solid red;*/
}

.site-navigation li:last-child {
    margin-right: 0;
}


.purchase-navigation {
    margin-left: auto;
    padding-top: 10px;
}

.purchase-navigation li {
    margin-top: 16px;
}

.cart {
    position: relative;
}

/* псевдо-элемент */
.cart::before {
    content: ""; /* чтобы псевдо-элемент отрисовался */

    position: absolute; /* absolute делает любой элемент как-бы блочным, и элемент начинает воспринимать размеры */
    top: 2px;
    left: -40px;

    width: 15px;
    height: 15px;

    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    /*opacity: 0.3; /* прозрачность */
}

.site-navigation a,
.purchase-navigation a {
    color: #000000; /*ссылки не наследуют цвет от текста, им отдельно задается цвет*/
    font-weight: 500;
    text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.purchase-navigation a:hover,
.purchase-navigation a:focus {
    color: #fb565a; /* при наведении на ссылку - чтобы красным*/
}

.site-navigation-current {
    position: relative;
}

.site-navigation-current::after {
     content: "";

     position: absolute; /* absolute делает любой элемент как-бы блочным, и элемент начинает воспринимать размеры */
     top: 33px;
     height: 2px; /* высотой 5px */
     left: 0; /* хитрый трюк - width не задаем, поэтому черточка на всю ширину родителя */
     right: 0;

     background-color: #fb565a;
 }

/*-------------------------------------------------*/
/* end of HEADER                                   */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* MAIN                                            */
/*-------------------------------------------------*/

/*---- секция features ----*/

.features {
    background-color: #eeeeee;
    min-width: 1180px;
    margin-bottom: 80px;
    /* border: 1px solid red; */
}



/*.slide-columns {*/
    /*display: flex;*/
/*}*/

/*.slide-column2 {*/
    /*margin-left: 55px;*/
    /*padding-top: 8px;*/
/*}*/

/*.slide-column2 img {*/
    /*display: block;*/
/*}*/

.slider {
    position: relative;
    height: 420px;
}

.slider-controls {
    position: absolute;
    bottom: 102px;
    width: 200px;
    height: 10px;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}

.slider-controls label {
    display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin: 0 7px;
    background: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;
}

#slider-selector-button1:checked ~ .slider-controls label[for="slider-selector-button1"],
#slider-selector-button2:checked ~ .slider-controls label[for="slider-selector-button2"],
#slider-selector-button3:checked ~ .slider-controls label[for="slider-selector-button3"] {
    background: #c1c1c1;
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; /* чтобы вылезающще за пределы не отображалось*/
    width: 100%;
    height: 100%;
}


.slide-title {
    margin-top: 68px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slide-text {
    margin-top: 26px;
    color: #283136;
}

.slide:nth-child(1) {
    /* изображения слайдера 1 делаем фоном */
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 9px; /* прижат вправо на 93%, сверху 10px */
}

.slide:nth-child(2) {
    /* изображения слайдера 2 делаем фоном */
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 9px; /* прижат вправо на 93%, сверху 10px */
}

.slide:nth-child(3) {
    /* изображения слайдера 2 делаем фоном */
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 9px; /* прижат вправо на 93%, сверху 10px */
}

#slider-selector-button1:checked ~ .slides .slide:nth-child(1) {
    /* для тильды нужно, чтобы теги имели одного родителя поэтому используется .slides */
    display: block;
}

#slider-selector-button2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#slider-selector-button3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.slogan-expensive {
    margin-bottom: 26px;
    /*padding-top: 68px;*/

    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}





/*---- секция services ----*/

.services {
    min-width: 1180px;
}

.services-list {
    list-style: none; /*убрали маркер у списка (точечку)*/
    display: flex;
}

.services-item {
    text-align: left;
    margin-right: 100px;
}

.services-item:nth-child(3) { /*у третьего элемента сбрасываем правую границу (отступ)*/
    margin-right: 0;
}

.service-name{
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 18px;
}

.service-description {
    margin-top: 16px;
}

/*---- секция About ----*/

.about {
    margin-top: 100px;
    min-width: 1180px;

}

.about-columns {
    position: relative;
    display: flex;
    /*border: 1px solid cyan;*/
}

.about-columns::before { /* длинная горизонтальная линия */
    content: ""; /* чтобы псевдо-элемент отрисовался */
    position: absolute; /* absolute делает любой элемент как-бы блочным, и элемент начинает воспринимать размеры */
    top: -20px;
    left: -5px;
    width: 1160px;
    height: 2px;
    background-color: #cccccc;

}

.about-column1 {
    margin-top: 56px;
    width: 670px;
    flex-shrink: 0;
}

.about-column2 {
    margin-left: 130px;
    margin-top: 22px;
}


.about-picture {
    display: block;
    padding-left: 0;
}

.indicators {
    display: flex;
    margin-top: 40px;
    margin-left: 3px;
}

.indicators li {
    margin-right: 20px;
}

.indicators li:nth-child(3n) { /*у третьего элемента сбрасываем правую границу (отступ)*/
    margin-right: 0;
}

.percent-number {
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    font-weight: 700;
}

.percent-number sup {
    font-size: 26px;
    line-height: 26px;
}


.indicators-item-description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
}

.slogan-krasnodar {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.slogan-robot {
    margin-top: 34px;
}

.slogan-development {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 38px;
}

.development  {
    margin-top: 24px;
}

.development li {
    margin-left: 36px;
    margin-bottom: 24px;
    position: relative;
}

.development li:last-child {
    margin-left: 36px;
    margin-bottom: 0;
}

.development li::before {
    content: ""; /* чтобы псевдо-элемент отрисовался */
    position: absolute; /* absolute делает любой элемент как-бы блочным, и элемент начинает воспринимать размеры */
    top: 11px;
    left: -35px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}



.slogan-2004year {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 36px;
    margin-left: 20px;
}

.examples {
    height: 180px;
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 81px;
    margin-left: -20px;
    position: relative;
    align-items: center;

}

.examples::before {
    content: ""; /* чтобы псевдо-элемент отрисовался */
    position: absolute; /* absolute делает любой элемент как-бы блочным, и элемент начинает воспринимать размеры */
    top: -7px;
    left: 21px;
    width: 1160px;
    height: 2px;
    background-color: #eeeeee;
}

.examples::after {
    content: ""; /* чтобы псевдо-элемент отрисовался */
    position: absolute; /* absolute делает любой элемент как-бы блочным, и элемент начинает воспринимать размеры */
    top: 175px;
    left: 21px;
    width: 1160px;
    height: 2px;
    background-color: #eeeeee;

}

.examples-item a {
    display: block;
    width: 300px;
    text-align: center;

    opacity: 0.2;
}


.examples-item:not(:first-child)::before {
    content: ""; /* чтобы псевдо-элемент отрисовался */
    position: absolute; /* absolute делает любой элемент как-бы блочным, и элемент начинает воспринимать размеры */
    top: 60px;
    height: 52px;
    padding: 0px;
    margin: 0px;
    border-right: 2px solid #eeeeee;
}

.examples-item a:hover,
.examples-item a:focus {
    opacity: 1;
}

.examples-item a:active {
    opacity: 0.1;
}

/*---- окончание секции About ----*/

/*-------------------------------------------------*/
/* end of MAIN                                     */
/*-------------------------------------------------*/


/*-------------------------------------------------*/
/* FOOTER                                          */
/*-------------------------------------------------*/

.first-footer {
    margin-top: 74px;
}

.backgound-map {
    box-sizing: border-box;
    height: 416px;
    min-width: 1180px;
    padding-top: 55px;
    background-color: #eeeeee;
    background-image:  url("../img/map2.jpg");

}

.footer-contacts {
    box-sizing: border-box;
    width: 319px;
    height: 308px;
    padding-left: 50px;
    padding-top: 50px;
    background-color: #ffffff;
}

.footer-contacts p {
    /*margin-bottom: 20px;*/
}

.button-write-us {
    display: block; /* иначе не воспринимает размеры */
    box-sizing: border-box;
    width: 219px;
    height: 50px;
    margin-top: 36px;
    background-color: #fb565a;
}

.button-write-us:hover,
.button-write-us:focus {
    background-color: #e74246;
}

.button-write-us:active {
    background-color: #d7373b;
    color: #e37376;
}

.contact-header {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
}

.contact-address,
.contact-phone {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    font-weight: 400;
}

.contact-address {
    margin-top: 22px;
}

.contact-phone {
    margin-top: 18px;
}

.footer-social-columns {
    box-sizing: border-box;
    height: 225px;
    padding-top: 70px;
    display: flex;
}

.footer-social-column {
    /*border: 1px solid yellow;*/
}

.footer-social-column:nth-child(1) {
    margin-right: 135px;

}

.social-item {
    margin-right: 12px;
}

.social-item:last-child {
    margin-right: 0;
}

.social-button {
    width: 78px;
    height: 78px;
    border-radius: 50%; /* закругляем */

    display: flex; /* чтобы отцентрировать ровно посередине круга svg-изображение */
    align-items: center;
    justify-content: center;
    background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
    background-color: #e74246;
}

.social-button:active path {
    fill: #e37376; /* так как svg - это вставленный прямо в html страницу тег, у него есть подтег fill мы его меняем здесь */
}

.footer-social ul {
    display: flex;
    width: 265px;
}

.footer-social li{
    list-style: none; /*убрали маркер у списка (точечку)*/
}

.social-header {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: 700;
    margin-top: 7px;
}

.social-discount {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
    font-weight: 400;
    margin-top: 8px;
}


/*-------------------------------------------------------------*/
/* Модальное окно Напишите нам                                */
/*-------------------------------------------------------------*/

.modal {
    position: absolute; /* absolute - прокручивается вместе со страницей, fixed - непрокручивается; */

    color: #000000;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7); /* тень */
    display: none; /* отключу показ */
}

.modal-write-us {
    box-sizing: border-box;
    top: -130px; /* относительно футера(централера) отображается*/
    left: 120px;
    width: 960px;
    height: 590px;
    padding: 68px 98px;
    z-index : 1000;
    background-color: #ffffff;
}

.modal-write-us-show {
    display: block;
}

.write-us-title {
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    font-weight: 500;
}

.write-us-columns {
    display: flex;
    margin-top: 41px;
    margin-left: 2px;
}

.input-user-mail {
    margin-left: 40px;
}

.input-user-text {
    margin-top: 34px;
    margin-left: 2px;
}

.write-us-label {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.write-us-input {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    outline: none;
}

.write-us-input::-webkit-input-placeholder {
    color: #444444;
    opacity: 0.5;
}

.write-us-input::-moz-placeholder {
    color: #444444;
    opacity: 0.5;
}

.write-us-input:hover {
    border: 2px solid #b4b9bb;
}

.write-us-input:focus {
    border: 2px solid #000000;
    color: #444444;
    opacity: 1;
}

.write-us-form-user,
.write-us-form-mail {
    box-sizing: border-box;
    width: 360px;
    height: 50px;
    margin-top: 10px;
    padding: 0 12px;
}

.write-us-form-text {
    box-sizing: border-box;
    width: 760px;
    height: 118px;
    margin-top: 8px;
    resize: none; /* чтобы уголок увеличения размера не отображался */
    padding: 12px 12px;
}

.write-us-form-submit {
    margin-top: 46px;
    margin-left: 2px;
    width: 260px;
    background-color: #fb565a;
}

.write-us-form-submit:hover,
.write-us-form-submit:focus {
    background-color: #e74246;
}

.write-us-form-submit:active {
    background-color: #d7373b;
    color: #e37376;
}

.modal-close { /* крестик закрытия модального окна из svg */
    position: absolute;

    top: 78px;
    right: 90px;
    width: 21px;
    height: 21px;

    background-color: #ffffff;
    background-image: url("../img/close-cross.svg"); /* крестик */
    background-repeat: no-repeat;
    background-position: 0 0;

    cursor: pointer; /* курсор мышки превращаем в руку */
    border: 0; /* у кнопки убираем рамку */
    font-size: 0;
    opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

/*-------------------------------------------------------------*/
/* Стиль для внутренних страниц                                */
/*-------------------------------------------------------------*/

.page-title {
    box-sizing: border-box;
    margin-bottom: 60px;
    padding-top: 70px;
    min-width: 1180px;
    height: 245px;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    background-color: #eeeeee;
    text-align: center;

}

.main-columns {
    display: flex;
}

.filters {
    width: 260px;
}

.filters fieldset {
    border: none;
    margin-bottom: 40px;
}

.filters legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700; /*bold - жирный*/
    text-transform: uppercase;
}

.filters ul {
    list-style: none;

}

.filters-option {
    margin-bottom: 10px;
}

.filters label {
    font-size: 16px;
    line-height: 20px;
}


.filters label:hover,
.filters label:focus {
color: #663d15;
}

.filter-input:disabled + label {
color: #000000;
opacity: 0.5;
}

.sorting {
    display: flex;
}

.catalog-list {
    width: 760px;
    display: flex;

    flex-wrap: wrap;
    /*border: 1px dashed brown;*/
}

.catalog-item {
    margin-right: 40px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}


.pagination-list {
    width: 440px;
    display: flex;
    margin-bottom: 60px;

}

.pagination-item {
    width: 50px;
    height: 50px;
    text-align: center;
    color: #000000;
    background: #eeeeee;
    margin-right: 10px;
}

.pagination-item:nth-child(4) {
    width: 260px;
    margin-right: 0;
}

.pagination-item a{
    color: #000000;
    background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:active,
.pagination-item a:focus {
    color: #ffffff;
    background-color: #663d15;
}

.pagination-item-current {
    box-sizing: border-box;
    border: 4px solid #eeeeee;
    color: #000000;
    background-color: #ffffff;
}


.pagination-item-current a{
    color: #000000;
    background-color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:active,
.pagination-item a:focus {
    color: #000000;
    background-color: #ffffff;
}


/*.inner-page {*/
    /*color: #000000;*/

    /*background-color: #f9f6f3;*/
    /*background-image: url("../img/pattern-light.jpg");*/
    /*background-position: 0 0;*/
    /*background-repeat: repeat;*/
/*}*/

/*.page-title {*/
    /*font-size: 30px;*/
    /*line-height: 42px;*/
/*}*/

/*.breadcrumbs {*/
    /*list-style-type: none;*/
/*}*/

/*.breadcrumbs a {*/
    /*color: #000000; !*ссылки не наследуют цвет от текста, им отдельно задается цвет*!*/
/*}*/

/*.breadcrumbs a:hover,*/
/*.breadcrumbs a:focus {*/
    /*text-decoration: underline;*/
/*}*/

/*.breadcrumbs-current {*/
    /*color: #aba9a7;*/
/*}*/

/*.filters fieldset {*/
    /*border: none;*/
/*}*/

/*.filters legend {*/
    /*font-size: 24px;*/
    /*line-height: 30px;*/
/*}*/

/*.filters ul {*/
    /*list-style: none;*/
    /*line-height: 18px;*/
/*}*/

/*.filters label:hover,*/
/*.filters label:focus {*/
    /*color: #663d15;*/
/*}*/

/*.filter-input:disabled + label {*/
    /*color: #000000;*/
    /*opacity: 0.5;*/
/*}*/

/*.catalog ul {*/
    /*list-style: none;*/
/*}*/

/*.catalog-item {*/
    /*background-color: #f8f8f8;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.catalog-item:hover {*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); !* тень немного усилили*!*/
/*}*/

/*.catalog-category {*/
    /*text-transform: none;*/
/*}*/

/*.catalog-item h3 {*/
    /*color: #000000;*/
    /*font-size: 14px;*/
    /*line-height: 18px;*/
/*}*/

/*.catalog-item-price b {*/
    /*font-size:14px;*/
    /*line-height: 20px;*/
    /*text-align: center;*/
    /*background-color: #e5e5e5;*/
/*}*/

/*.catalog-item-price  .button {*/
    /*line-height: 20px;*/
    /*color: #ffffff;*/
/*}*/

/*.product-photos ul,*/
/*.product-info ul {*/
    /*list-style-type: none;*/
/*}*/

/*.product-info h3 {*/
    /*font-size: 24px;*/
    /*line-height: 30px;*/
/*}*/

/*.product-photo-preview li {*/
    /*box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.product-photo-preview li:hover {*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); !* тень немного усилили*!*/
/*}*/

/*.product-photo-full {*/
    /*box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.product-article-number {*/
    /*text-align: right;*/
    /*color: #aeaeae;*/
/*}*/

/*.product-price b {*/
    /*font-size:14px;*/
    /*line-height: 20px;*/
    /*text-align: center;*/
    /*background-color: #e5e5e5;*/
/*}*/

/*.product-price .button {*/
    /*line-height: 20px;*/
    /*color: #ffffff;*/
/*}*/

/*.kit-item {*/
    /*font-size: 14px;*/
    /*line-height: 24px;*/
/*}*/

/*.pagination-item a{*/
    /*color: #ffffff;*/
    /*background-color: #000000;*/
/*}*/

/*.pagination-item a:hover,*/
/*.pagination-item a:active,*/
/*.pagination-item a:focus {*/
    /*color: #ffffff;*/
    /*background-color: #663d15;*/
/*}*/

/*.pagination-item-current a{*/
    /*color: #000000;*/
    /*background-color: #ffffff;*/
/*}*/

/*.pagination-item a:hover,*/
/*.pagination-item a:active,*/
/*.pagination-item a:focus {*/
    /*color: #000000;*/
    /*background-color: #ffffff;*/
/*}*/

/* ----------------------------------*/
/* окончание секции "Стиль для внутренних страниц" */
/* ----------------------------------*/
